{{!--
This is a Presentational Component that shows the data from the Container Component
--}}
<div class='objects-canvas'>
  {{#each objects as |object|}}
    {{component object.component object=object}}
  {{/each}}
</div>

<div class='objects-editor'>
  <button {{action addObject "square-view"}}>Add Square</button>
  <button {{action addObject "circle-view"}}>Add Circle</button><br>
{{#each objects as |object|}}
  {{object-edit-form changeset=(changeset object.styles) uuid=object.uuid removeObject=removeObject updateObject=updateObject}}
{{/each}}
</div>



